Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

/Content/Cave_Ruins/
/Content/ParagonKwang/
/Content/ParagonSevarog/
/Content/Sword_and_Shield/
/Content/DynamicCollisionVFX/
/Content/FXVarietyPack/