Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Builds/

/Content/Cave_Ruins/
/Content/ParagonKwang/
/Content/ParagonSevarog/
/Content/Sword_and_Shield/
/Content/DynamicCollisionVFX/
/Content/FXVarietyPack/
/Content/_rainstoryRPGUI/
/Content/GuiParts/
/Content/SueHealthBar/
/Content/Dwarven_city/